<!DOCTYPE html>
<html xmlns:th="hhttp://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Inserimento chef', css='/css/admin/aggiungi.css')">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<h4>Admin - Aggiungi chef</h4>
    <div class="aggiungi">
		<div class="form">
			<form class="aggiungi-form" th:action="@{/admin/chef/add}" method="post" th:object="${chef}" enctype="multipart/form-data">
				<div th:if = "${#fields.hasGlobalErrors()}">
    				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</div>
				<table>
					<tr>
						<td>Nome</td>
						<td><input type="text" placeholder="nome" required
							th:field="*{nome}" /></td>
						<td th:if="${#fields.hasErrors('nome')}"
							th:errors="${nome}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>Cognome</td>
						<td><input type="text" placeholder="cognome" required
							th:field="*{cognome}" /></td>
						<td th:if="${#fields.hasErrors('cognome')}"
							th:errors="${cognome}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>Nazionalita</td>
						<td><input type="text" placeholder="nazionalita"
							th:field="*{nazionalita}" /></td>
						<td th:if="${#fields.hasErrors('nazionalita')}"
							th:errors="${nazionalita}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>Aggiungi foto</td>
						<td><input type="file" name="image" accept="image/png, image/jpeg" /></td>
					</tr>
				</table>

				<button type="submit">Registra Chef</button>
			</form>
		</div>
	</div>
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>