<!DOCTYPE html>
<html xmlns:th="hhttp://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Inserimento piatto', css='/css/admin/aggiungi.css')">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <h4>Admin - Aggiungi piatto</h4>
	 <div class="aggiungi">
		<div class="form">
			<div>Inserisci i dati del piatto che vuoi aggiungere al buffet "<span th:text="${buffet.nome}"> buffet </span>"</div>
			<form class="aggiungi-form" th:action="@{/admin/piatto/add/} + ${buffet.id}" method="post" th:object="${piatto}" >
				<div th:if = "${#fields.hasGlobalErrors()}">
    				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</div>
				<table>
					<tr>
						<td>Nome</td>
						<td><input type="text" placeholder="nome" required
							th:field="*{nome}" /></td>
						<td th:if="${#fields.hasErrors('nome')}"
							th:errors="${nome}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>Descrizione</td>
						<td ><textarea class = "descrizione" type="text" placeholder="descrizione"
							th:field="*{descrizione}" ></textarea></td>
						<td th:if="${#fields.hasErrors('descrizione')}"
							th:errors="${descrizione}" th:style="'color:red'"></td>
					</tr>
				</table>

				<button type="submit">Registra Piatto</button>
			</form>
			<form class="annulla" method="get" th:action="@{'/admin/buffet/modifica/richiesta/' + ${buffet.id}}">
				<button  type="submit"> Annulla</button>
			</form>
		</div>
	</div>
    <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>