<!DOCTYPE html>
<html xmlns:th="hhttp://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Inserimento piatto', css='/css/index.css')">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>Aggiungi un piatto al buffet <span th:text="${buffet.nome}"></span></div>
    <form th:action="@{/admin/piatto/add/} + ${buffet.id}" method="post" th:object="${piatto}">
    	<div th:if = "${#fields.hasGlobalErrors()}">
    		<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</div>
    	<div> Nome: <input type="text" th:field="*{nome}" />
    	<div th:if = "${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
    	</div>
    	<div> Descrizione: <input type="text" th:field="*{descrizione}" />
    	<div th:if = "${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
    	</div>
    	<div><button type="submit">Conferma </button></div>
    </form>
</body>
</html>