<!DOCTYPE html>
<html xmlns:th="hhttp://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Dettaglio Chef', css='/css/index.css')">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<h1 th:text="${piatto.nome}">Paolo Rossi</h1>
	<p>
		<span>Descrizione: </span> <span th:text="${piatto.descrizione}">naz</span>
	</p>
	<p>Ingredienti:</p>
	<ul>
		<li th:each="ingrediente : ${piatto.ingredienti}">
			<!-- href="buffet.html" --> <a
			th:href="@{'/ingrediente' + '/' + ${ingrediente.id}}" th:text="${ingrediente.nome}">Veg
		</a>
		</li>
	</ul>
</body>
</html>