<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Modifica piatto', css='/css/index.css')">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>

	<h2>Modifica Piatto</h2>

	<form th:action="@{'/admin/piatto/modifica/conferma/' + ${piatto.id}}"
		method="post" th:object="${piatto}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			Nome:<br> <input type="text" th:field="*{nome}">
		</div>
		<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
		<br>
		<div>
			Descrizione:<br> <input type="text" th:field="*{descrizione}">
		</div>
		<div th:if="${#fields.hasErrors('descrizione')}"
			th:errors="*{descrizione}"></div>
		<div>
			<button type="submit">Salva</button>
		</div>
	</form>
		<br>
		<div> Ingredienti: 
			<ul>
				<li th:each="ingrediente : ${piatto.ingredienti}"><a
					th:href="@{'/ingrediente/' + ${ingrediente.id}}"
					th:text="${ingrediente.nome}">ingrediente </a>
					<a th:href="@{/admin/ingrediente/elimina/richiesta/} + ${ingrediente.id}"> Elimina </a>
					<a th:href="@{'/admin/ingrediente/modifica/richiesta/' + ${ingrediente.id}}"> Modifica </a></li>
			</ul>
		</div>
		<br>
		<div>
			<a  th:href="@{/admin/ingrediente/add/form/} + ${piatto.id}">Aggiungi
				ingrediente</a>
		</div>
		
	<br>
</body>
</html>