<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Inserimento ingrediente', css='/css/index.css')">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>Aggiungi un ingrediente al piatto: <span th:text="${piatto.nome}"></span></div>
    <form th:action="@{'/admin/ingrediente/add/' + ${piatto.id}}" method="post" th:object="${ingrediente}">
    	<div th:if = "${#fields.hasGlobalErrors()}">
    		<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</div>
    	<div> Nome: <input type="text" th:field="*{nome}" />
    	<div th:if = "${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
    	</div>
    	<div> Origine: <input type="text" th:field="*{origine}" />
    	<div th:if = "${#fields.hasErrors('origine')}" th:errors="*{origine}"></div>
    	</div>
    	<div> Descrizione: <input type="text" th:field="*{descrizione}" />
    	<div th:if = "${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
    	</div>
    	<div><button type="submit">Conferma </button></div>
    </form>
    <form method="get" th:action="@{'/admin/piatto/modifica/richiesta/' + ${piatto.id}}"><button type="submit"> Annulla</button></form>
</body>
</html>