<!DOCTYPE html>
<html xmlns:th="hhttp://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Conferma eliminazione', css='/css/index.css')">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<h1>Conferma eliminazione</h1>
	<div>
		Vuoi veramente eliminare: </div>
		<div>
		<span th:text="${ingrediente.nome}"></span>
		<span> che viene da </span>
		<span th:text="${ingrediente.origine}"></span>
		<span> ed e' </span>
		<span th:text="${ingrediente.descrizione}"> </span>
		</div>
		<div>
			<form method="post"
				th:action="@{'/admin/ingrediente/elimina/conferma/' + ${ingrediente.id}}">
				<button type="submit">Elimina</button>
			</form>
			<form method="get" th:action="@{/admin/piatto/modifica/richiesta/} + ${ingrediente.piatto.id}">
				<button type="submit">Annulla</button>
			</form>

		</div>
</body>
</html>