<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Inserimento ingrediente', css='/css/admin/aggiungi.css')">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<!-- <div>Aggiungi un ingrediente al piatto: <span th:text="${piatto.nome}"></span></div>
    <form th:action="@{'/admin/ingrediente/add/' + ${piatto.id}}" method="post" th:object="${ingrediente}">
    	<div th:if = "${#fields.hasGlobalErrors()}">
    		<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</div>
    	<div> Nome: <input type="text" th:field="*{nome}" />
    	<div th:if = "${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
    	</div>
    	<div> Origine: <input type="text" th:field="*{origine}" />
    	<div th:if = "${#fields.hasErrors('origine')}" th:errors="*{origine}"></div>
    	</div>
    	<div> Descrizione: <input type="text" th:field="*{descrizione}" />
    	<div th:if = "${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></div>
    	</div>
    	<div><button type="submit">Conferma </button></div>
    </form> -->
    <h4>Admin - Aggiungi Ingrediente</h4>
    
	 <div class="aggiungi">
		<div class="form">
			<div>Inserisci i dati dell'ingrediente che vuoi aggiungere al piatto "
				<span th:text="${piatto.nome}"> piatto </span>"
    			facente parte del buffet "
    			<span th:text="@{piatto.buffet.nome}"> buffet</span>"
    		</div>
			<form class="aggiungi-form" th:action="@{'/admin/ingrediente/add/' + ${piatto.id}}" method="post" th:object="${ingrediente}" >
				<div th:if = "${#fields.hasGlobalErrors()}">
    				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</div>
				<table>
					<tr>
						<td>Nome</td>
						<td><input type="text" placeholder="nome" required
							th:field="*{nome}" /></td>
						<td th:if="${#fields.hasErrors('nome')}"
							th:errors="${nome}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>Origine</td>
						<td><input type="text" placeholder="origine" required
							th:field="*{origine}" /></td>
						<td th:if="${#fields.hasErrors('origine')}"
							th:errors="${origine}" th:style="'color:red'"></td>
					</tr>
					<tr>
						<td>Descrizione</td>
						<td ><textarea class = "descrizione" type="text" placeholder="descrizione"
							th:field="*{descrizione}" ></textarea></td>
						<td th:if="${#fields.hasErrors('descrizione')}"
							th:errors="${descrizione}" th:style="'color:red'"></td>
					</tr>
				</table>

				<button type="submit">Registra Ingrediente</button>
			</form>
			<form class="annulla" method="get" th:action="@{'/admin/piatto/modifica/richiesta/' + ${piatto.id}}">
				<button  type="submit"> Annulla</button>
			</form>
		</div>
	</div>
    
	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>