body{
  margin: 0;
  padding: 0;
  font-family: 'Taviraj', serif;
}

nav{
    margin:0;
    padding:0;
    top: 0;
}



#sfondo{
    width: 100%;
    opacity: 0.8;
}


#titolo{
    position: absolute;
    border-bottom: 3px solid #900A0A;
    left: 50%;
    bottom:50%;
    color: #900A0A;
    font-family: 'Tangerine', cursive;
    font-size: 10em;
}



