<!DOCTYPE html>
<html xmlns:th="hhttp://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Catering Roma', css='/css/index.css')">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<section>
		<header>
			<img src="/images/sfondo2.png" id="sfondo">
			<h1 id="titolo">Catering Roma</h1>
		</header>
		<div>
			<a th:href="@{/admin/chef/add}"> Aggiungi Chef</a>
		</div>
		<div>
			<a th:href="@{/chef/elenco}"> Elenco Chef</a>
		</div>
		<div>
			<a th:href="@{/admin/ingrediente/add}"> Aggiungi Ingrediente</a>
		</div>
		<div>
			<a th:href="@{/ingrediente/elenco}"> Elenco Ingrediente</a>
		</div>
		<div>
			<a th:href="@{/login}">Accedi</a>
   		</div>
		<div>
			<a th:href="@{/register}">Registrati</a>
   		</div>
	</section>
</body>
</html>
