<!DOCTYPE html>
<html xmlns:th="hhttp://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Inserimento chef', css='/css/index.css')">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <form th:action="@{/admin/chef/add}" method="post" th:object="${chef}">
    	<div th:if = "${#fields.hasGlobalErrors()}">
    		<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</div>
    	<div> Nome: <input type="text" th:field="*{nome}" />
    	<div th:if = "${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
    	</div>
    	<div> Cognome: <input type="text" th:field="*{cognome}" />
    	<div th:if = "${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></div>
    	</div>
    	<div> Nazionalita: <input type="text" th:field="*{nazionalita}" />
    	<div th:if = "${#fields.hasErrors('nazionalita')}" th:errors="*{nazionalita}"></div>
    	</div>
    	<div><button type="submit">Conferma </button></div>
    </form>
</body>
</html>