<!DOCTYPE html>
<html xmlns:th="hhttp://www.thymeleaf.org">
<head
	th:replace="fragments/base.html :: headerfiles(title='Dettaglio Chef', css='/css/index.css')">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<h1 th:text="${chef.nome} + ' ' + ${chef.cognome}">Paolo Rossi</h1>
	<p>
		<span>Nazionalita: </span> <span th:text="${chef.nazionalita}">naz</span>
	</p>
	<p>Buffets:</p>
	<ul>
		<li th:each="buffet : ${chef.buffet}">
			<!-- href="buffet.html" --> <a
			th:href="@{'/buffet' + '/' + ${buffet.id}}" th:text="${buffet.nome}">Veg
		</a>
		</li>
	</ul>
	<img th:if="${chef.photo != null}" th:src="@{'/images/chef-photos/'+ ${chef.id} + '/' + ${chef.photo}}"></img>
</body>
</html>